@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 100;
    
}


.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #a8a2a3;
    
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}


.logo img{
    width: 170px;
}

.menu{
    display: flex;
    align-items: center;
    margin: auto;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: #081188;
    
    position: relative;
    margin-right: 8px;
}

.menu nav ul li a:hover{
    color: #940e32;
    transition: all 500ms;
}

.boton{
    display: block;
    padding: 8px 40px;
    border: 2px solid #081188 ;
    border-radius: 8px;
    font-weight: 500;
    color: #081188;
    margin: 0px 20px;   
    transition: all 500ms;
}

.boton:hover{
    color: #940e32;
    background: #081188;
}

.redes_sociales{
    margin: 0px 10px;
}

.redes_sociales a{
    margin: 0px 4px;
}

.redes_sociales img{
    width: 20px;
}

.tabla{
    margin-top: 50px;
}




/* formulario de compra */


/* Estilos Globales */






.container__form {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color:#B0BEC5;
    text-align: center; 
}

.container__form h1 {
    margin: auto;
    color: #473036;
}

form {
    padding: 20px;
    width: 260px;
    background-color: #bebebe;
    margin-left: 250px;
    margin-top: 50px;
    border: 2px solid #d0d0d0;
    border-radius: 20px;
    box-shadow: 0 0 0 rgba(199, 32, 32, 0);
    transition: transform 500ms ease, box-shadow 500ms ease;
    position: relative;
}

form::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 5px solid transparent;
    border-radius: 20px; 
    box-shadow: 0 0 20px #47303680;
    transition: opacity 500ms ease;
    opacity: 0;
    pointer-events: none;
}

form:hover::before {
    opacity: 1;
}

form:hover {
    box-shadow: 0 20px 50px #47303680;
    transform: scale(1.05);
    border-radius: 20px;
}



label{
    display: block;
    margin-bottom: 5px;
    color: #32369f7d;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 500ms; 
}

input[type="submit"]:hover {
    background-color: #473036;
}